* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri, Arial, sans-serif;
}

/* Animation properties */
body ul {
  padding: 0;
  margin-top: 120px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #555;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
}

  header h1, .basket-icon img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header h1 {font-weight: normal;}

  .basket-icon img {width: 60px;}

  .basket-icon .count {
    position: absolute;
    top: 40px;
    right: 10px;
    width: 35px;
    height: 35px;
    background: crimson;
    border-radius: 50%;
    border: 3px solid #555;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-weight: ;
  }

ul.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

ul.products li {
  list-style-type: none;
  text-align: center;
  padding: 5px;
}

ul.products li h2 {
  margin: 5px 0px;
  font-weight: normal;
}

ul.products li button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin: 5px 0px;
  padding: 5px 10px;
  background-color: #333;
}


.zoom {
  position: fixed;
  top: 30px;
  right: 40%;
  width: 40px;
  opacity: 0;
  animation: zoom 1s forwards ease;
}

@keyframes zoom {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0; right: 40px;}
}
